
.Root-Container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Info-Container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  gap: 2vw;
}

.Container {
  margin: 0 0 0 2.55vw;
  background-color: white;
  width: 75.27vw;
  height: 86.72vh;
  border-radius: 27px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0vh;
}

.Title-Container{
  display: flex;
  width: 100%;
  justify-content:space-evenly;
}

.Left-Container{
  width: 40.22%;
  height: 93%;
  padding: 4.8vh 0 0 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.Right-Container{
  width: 59.78%;
  height: 93%;
  padding: 4.8vh 0 0 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.Attention-Box-One,
.Attention-Box-Two{
  width: 39vmin;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  padding: 0vh 1vw;
}

.Attention-Box-One{
  border: 5px solid #D00C2B;
}

.Attention-Box-Two{
  border: 5px solid #FDA9B6;
  background-color: #FDA9B6;
}

.Attention-Box-Three,
.Attention-Box-Four{
  width: 56vmin;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4vw;
  border-radius: 20px;
  padding: 0vh 4.28vw;
  padding-right: 0.5vw;
}

.Attention-Box-Three{
  border: 5px solid #F56A40;
}

.Attention-Box-Four{
  border: 5px solid #F8C4B5;
  background-color: #F8C4B5;
}

h1,
h3{
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

h1{
  font-size: 4.8vmin;
}

h2{
  font-family: 'Bebas Neue', cursive;
  color: #602E36 ;
  font-weight: 400;
  font-size: 5vmin;
  margin: 0;
}

h3{
  margin: 0;
  font-size: 3.12vmin;
}

img{
  z-index: 2;
  width: 6.87vw;
  height: 16.89vh;
  margin: 80vh 0vw 0 1.5vw;
}
