
.Turn-change {
  padding: 11.5vh 2.5vw 10.5vh;
}

.Container {
  background-color: white;
  border-radius: 20px;
  min-height: 78vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Label {
font-size: 126px;
line-height: 151px;
font-family: 'Bebas Neue', cursive;
width: 40vw;
color: #602E36;
}

.Turn {
  display: flex;
  flex-direction: column;
  border: 5px solid #D9D9D9;
  border-radius: 20px;
}

